html, body {
    height: 100%;
    box-sizing: border-box;
}

html * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {
    height: 100%;
}

.mobile-menu-btn {
    width: 4rem;
    height: 4rem;
    background-color: black;
    position: absolute;
    top: 40px;
    right: 0px;
}

.side-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100%;
    background-color: red;
}

.menu-close {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 20px;
    width: 20px;
}

.content-area {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.header {
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    border-bottom: 2px solid black;
}

.dropdown {
    padding: 1rem 0 0 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown > * {
    padding: 0 1rem 2rem 1rem;
}

.invis {
    display: none;
}

.dropdown-item-vis {
    background-color: grey;
}

#image-slider {
    border: 2px solid red;
    height: 50%;
    width: auto;
    display: flex;
}

.slider-side {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-center {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider-content {
    height: 80%;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-nav {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    padding: 5px;
}

.slide-nav-button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid black;
}

.nav-vis {
    background-color: white;
}

.nav-invis {
    background-color: black;
}